@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-family: "Noto Sans JP", system-ui;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.article-feature-image {
  aspect-ratio: 16/4.5;
  object-fit: cover;
}

.prose img {
  width: 100%; /* imgタグの幅を80%に設定 */
  margin-left: auto; /* 画像を中央揃えにするため */
  margin-right: auto; /* 画像を中央揃えにするため */
  height: auto;
  border-radius: 0.175rem; /* TailwindCSS: rounded-md */
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.prose h1 {
  font-size: 2.25rem; /* TailwindCSS: text-4xl */
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.prose h2 {
  font-size: 1.875rem; /* TailwindCSS: text-3xl */
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.prose h3 {
  font-size: 1.5rem; /* TailwindCSS: text-2xl */
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* h4 ~ h6 can have progressively smaller sizes */
.prose h4,
.prose h5,
.prose h6 {
  font-size: 1.25rem; /* TailwindCSS: text-xl */
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.prose p {
  font-size: 1rem; /* TailwindCSS: text-base */
  line-height: 1.75rem; /* TailwindCSS: leading-relaxed */
  margin-bottom: 1.25rem;
}

.prose ul,
.prose ol {
  margin-left: 1.25rem; /* 左に少しの余白 */
  padding-left: 1rem; /* 追加の余白 */
  list-style-position: inside; /* リストアイテムをインデントさせない */
}

.prose li {
  margin-bottom: 0.5rem; /* 各リストアイテムの間に少しの余白 */
  line-height: 1.6; /* 読みやすい行間 */
  font-size: 1rem; /* フォントサイズを基本に設定 */
}

.prose a {
  color: blue; /* 最初は青色 */
  text-decoration: none; /* 下線を非表示 */
  transition: text-decoration 0.2s ease-in-out; /* 下線の表示をスムーズに */
}

.prose a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}

.prose pre code {
  font-size: 0.8rem;
  font-family: "Fira Code", "Source Code Pro", "Consolas", "Menlo",
    "Courier New", monospace;
  background-color: #282c34;
  border-radius: 0.375rem;
}
.prose code {
  font-size: 0.8rem;
  font-family: "Fira Code", "Source Code Pro", "Consolas", "Menlo",
    "Courier New", monospace;
  background-color: #282c34;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  display: inline-block;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}
